################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TestServer/bin
/TestServer/obj
/.vs
/QueryWithCertificate/bin/Debug
/QueryWithCertificate/obj/Debug
